<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wiki Race</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/b8525abe2c.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/viz.js/1.8.0/viz-lite.js"></script>

    <script src="https://unpkg.com/htmx.org@1.9.11"></script>

    <style>
        .search-container {
            position: relative;
        }

        .suggestions, .start-suggestions, .goal-suggestions {
            position: absolute;
            background-color: #fff;
            border: 1px solid #ccc;
            border-top: none;
            width: 100%;
            max-height: 200px;
            overflow-y: auto;
            overflow-x: hidden;
            display: none;
        }

        .suggestion-item {
            padding: 5px;
            cursor: pointer;
        }

        .suggestion-item:hover {
            background-color: #f0f0f0;
        }
    </style>
</head>
<body>
    <!-- Start Navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
            <img src="https://www.svgrepo.com/show/229257/rice.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
            Nasi Goreng Magolang
            </a>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                  <a class="nav-link active" aria-current="page" href="#wiki-race">Home</a>
                  <a class="nav-link" href="#how-to-use">How To Use</a>
                  <a class="nav-link" href="#about">About</a>
                </div>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->

    <h2 id="wiki-race" style="text-align: center;">Wiki Race</h2>

    <!-- Start Form Input -->
    <div class="container">
        <div class="row justify-content-center g-3">
            <form class="col-md-8" autocomplete="off" hx-post="/race/" hx-target="#output">
                <div class="row">
                    <div class="col-12 mt-3">
                        <label for="Title" class="form-label">Title</label>
                    </div>
                    <div class="col">
                        <div class="search-container" id="search-start-container">
                            <input type="search" name="inputStartTitle" id="inputStartTitle" class="form-control" placeholder="Start Title" hx-post="/search/?id=inputStart" 
                            hx-trigger="keyup changed delay:250ms" 
                            hx-target=".start-suggestions" 
                            hx-swap="innerHTML" required="required">
                            <input type="hidden" name="inputStartURL" id="inputStartURL" required="required">

			                <div class="start-suggestions" style="display: block;">
                            </div>
                        </div>
                    </div>
                    <div class="col-auto">
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </div>
                    <div class="col">
                        <div class="search-container" id="search-goal-container">
                            <input type="search" name="inputGoalTitle" id="inputGoalTitle" class="form-control" placeholder="Goal Title" hx-post="/search/?id=inputGoal" 
                            hx-trigger="keyup changed delay:500ms" 
                            hx-target=".goal-suggestions" 
                            hx-swap="innerHTML" required="required">
                            <input type="hidden" name="inputGoalURL" id="inputGoalURL" required="required">

			                <div class="goal-suggestions" style="display: block;">
                            </div>
                        </div>
                    </div>


                    <div class="col-12 mt-3">
                        <label for="Algorithm" class="form-label">Algorithm</label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inputAlgorithm" id="inlineRadio1" value="IDS" required>
                            <label class="form-check-label" for="inlineRadio1">Iterative Deepening Search (IDS)</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="inputAlgorithm" id="inlineRadio2" value="BFS">
                            <label class="form-check-label" for="inlineRadio2">Breadth First Search (BFS)</label>
                        </div>
                    </div>

                    <div class="col-12 mt-3">
                        <button type="submit" class="btn btn-primary" onclick="startTimer()">START</button>
                    </div>
                    
                </div>
            </form>
        </div>
    </div>
    <!-- End Form Input -->

    <!-- Start Output Resut -->
    <div class="container mt-5">
        <div class="row justify-content-center g-3">
            <div class="col-md-8">
                <div id="output"></div>
                <label id="minutes">00</label>
                <label id="colon">:</label>
                <label id="seconds">00</label>
            </div>
        </div>
    </div>
    <!-- End Output Resut -->

    <!-- Start How To Use -->
    <div class="container mt-5">
        <div class="row justify-content-center g-3">
            <div class="col-md-8">
                <section id="how-to-use" style="text-align: center;">
                    <h3>How To Use</h3>
                    <ol style="display: inline-block; text-align: left;">
                        <li>Select the starting title from the autocomplete suggestions</li>
                        <li>Choose the goal title from the autocomplete suggestions</li>
                        <li>Pick the desired search algorithm</li>
                        <li>Initiate the search process by clicking the START button.</li>
                        <li>Await the display of the output</li>
                    </ol>
                  </section>
                
                  <!-- Section 2 -->
                  <section id="about" class="mt-5">
                    <h3 style="text-align: center;">About Us</h3>
                    <div class="row">
                        <!-- Person 1 -->
                        <div class="col-md-4 person" style="text-align: center;">
                          <img src="https://www.w3schools.com/howto/img_avatar.png" class="img-fluid rounded-circle mb-2"  style="max-width: 125px; max-height: 200px;">
                          <h4>Ariel Herfrison</h4>
                          <p>13522002</p>
                        </div>
                        <!-- Person 2 -->
                        <div class="col-md-4 person" style="text-align: center;">
                          <img src="https://www.w3schools.com/howto/img_avatar.png" class="img-fluid rounded-circle mb-2"  style="max-width: 125px; max-height: 200px;">
                          <h4>Panjri Sri Kuncara</h4>
                          <p>13522028</p>
                        </div>
                        <!-- Person 3 -->
                        <div class="col-md-4 person" style="text-align: center;">
                          <img src="https://www.w3schools.com/howto/img_avatar.png" class="img-fluid rounded-circle mb-2"  style="max-width: 125px; max-height: 200px;">
                          <h4>M. Dava Fathurrahman</h4>
                          <p>13522114</p>
                        </div>
                      </div>
                  </section>
            </div>
        </div>
    </div>
    <!-- End How To Use -->

    <script type="text/javascript">
        var minutesLabel = document.getElementById("minutes");
        var secondsLabel = document.getElementById("seconds");
        var totalSeconds = 0;
        var timerInterval;

        function stopTimer() {
            clearInterval(timerInterval);
        }
    
        function startTimer() {
            // Reset totalSeconds if the timer is already running
            if (timerInterval) {
                totalSeconds = 0;
            }
            document.getElementById('output').innerHTML="";
            secondsLabel.innerHTML = "00"
            minutesLabel.innerHTML = "00"

            
            // Start the timer
            timerInterval = setInterval(setTime, 1000);
        }
    
        function setTime() {
            ++totalSeconds;
            secondsLabel.innerHTML = pad(totalSeconds % 60);
            minutesLabel.innerHTML = pad(parseInt(totalSeconds / 60));
        }
    
        function pad(val) {
            var valString = val + "";
            if (valString.length < 2) {
                return "0" + valString;
            } else {
                return valString;
            }
        }
    </script>

    <script type="text/javascript">
        function setSearchInput(id, title, URL) {
			document.getElementById(id+"Title").value = title;
			document.getElementById(id+"URL").value = URL;
            Array.from(document.getElementsByClassName('suggestion-item')).forEach(element => {
                element.remove();
            });
		}
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>